<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Administration</title>
    <!--[if lte IE 8]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}" target="_blank" title="Retour au site">Patchwork</a>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li{% if strpos(app.request.getRequestURI(), 'pizza') %} class="active"{% endif %}><a href="{{ path('pizza.list') }}">Pizzas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header clearfix">{% block head %}{% endblock %}</div>

        {% if app.session.getFlashBag().has('message') %}
            <div class="alert alert-{% if app.session.getFlashBag().has('error') %}danger{% else %}success{% endif %}">
                {{ app.session.getFlashBag().get('message')[0]|raw }}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>

    {% block javascript %}{% endblock %}
    {% include 'livereload.twig' %}
</body>

</html>
